:root {
    --bg-color: #f1f9f1;
    --primary-color: #2f6d4f;
    --primary-dark: #24553d;
    --font-heading: Poppins, sans-serif;
    --font-body: "Open Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-body);
    margin: 0;
    padding: 15px
}

.hero {
    background: var(--primary-color);
    border-radius: 16px;
    padding: 40px;

    margin-top: 150px;
    margin-right: 400px;
    margin-left: -30;
}

.hero h1 {
    color: var(--bg-color);

    margin-bottom: 5px
}

.hero p {
    color: var(--bg-color);
}

h1, h2, h3 {
    font-family: var(--font-heading);
}

/* container und form */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}

form {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

/* Hamburger Menu */
.hamburger {
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 6px;

    position: fixed;
    top: 20px;
    right: 20px;

    z-index: 10001;
}

.hamburger span {
    width: 40px;
    height: 7px;
    background: var(--primary-color);
    border-radius: 4px;

    transition: 0.3s ease;
}

.hamburger:hover span {
    background: var(--primary-dark);
}


/* Overlay Navigation */
.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--primary-color);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 99999;
}


.nav-overlay nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.nav-overlay a {
    color: var(--bg-color);

    font-family: var(--font-heading);
    font-size: 24px;
    font-weight: bold;

    text-decoration: none;

    transition: 0.3s ease;
}


.nav-overlay a:hover {
    color: var(--bg-color);
    transform: scale(1.05);
}


/* Close Button */
.close-btn {
    position: absolute;

    top: 20px;
    right: 20px;

    background: none;
    border: none;

    color: var(--bg-color);

    font-size: 35px;
    cursor: pointer;

    transition: 0.3s ease;
}


.close-btn:hover {
    transform: rotate(90deg);
}

h1 {
    color: var(--primary-color);
    font-size: 60px;
}

button {
    background: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Startseite */
.job-list {
    display: flex;
    gap: 20px;
}

.job-card {
    background: var(--primary-color);
    color: var(--bg-color);
    border-radius: 16px;
    padding: 25px;
}

.features-list {
    display: flex;
    gap: 20px;
}

.feature-card {
    background: var(--primary-color);
    color: var(--bg-color);
    border-radius: 16px;
    padding: 25px;
}

.search-row {
    text-align: center;
    margin-bottom: 20px;
}

.text-link2 {
    color: var(--bg-color);
}

/* Login */
.login-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertikal */
}

.login-wrapper a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
}

/* Registrieren */
.auth-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertikal */
}

/* Stellendetail */
.job-meta {
    border: none;
    border-radius: 50px;
    display: inline-block
}

.btn-link {
    background: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    display: inline-block;
    text-decoration: none;

    margin-top: 20px;
}

.job-description {
    white-space: pre-line;
}

/* Bewerbungsformular */
.upload-row {
    display: flex;
    gap: 15px;
}

.upload-group input[type="file"] {
    display: none;
}

.upload-group label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
}

.upload-group label svg {
    width: 50px;
    height: 50px;
}

.text-link {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 30px;
    margin-left: 10px;
}

/* Bewerbungen */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background: var(--primary-color);
    color: var(--bg-color);
}