<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    </head>

    <body>
    <!-- Hamburger Menü -->
    <button class="hamburger" onclick="menuOeffnen()">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <!-- Menü, das aufgeht -->
    <div class="nav-overlay" id="menu">

        <button class="close-btn" onclick="menuSchliessen()">
            ✕
        </button>

        <nav>
            <a href="/startseite">Startseite</a>
            <a href="/login">Login</a>
            <a href="/registrieren">Registrieren</a>
        </nav>

    </div>

    <h1>
        Bewerbungen für:
        <span th:text="${stelle.titel}"></span>
    </h1>

    <div th:each="bewerbung : ${beerbungen}">

        <h3>
            <span th:text="${bewerbung.vorname}"></span>
            <span th:text="${bewerbung.nachname}"></span>
        </h3>

        <p th:text="${bewerbung.email}"></p>

        <p>
            Status:
            <span th:text="${bewerbung.status}"></span>
        </p>


        <form th:action="@{/bewerbungen/{id}/status(id=${bewerbung.id})}" method="post">

            <select name="neuerStatus">

                <option value="EINGANG">Eingang</option>
                <option value="INTERVIEW">Interview</option>
                <option value="ANGEBOT">Angebot</option>
                <option value="ABGELEHNT">Abgelehnt</option>

            </select>

            <button type="submit">
                Status ändern
            </button>

        </form>


    </div>

    <script>
        function menuOeffnen() {
            document.getElementById("menu").style.display = "flex";
        }

        function menuSchliessen() {
            document.getElementById("menu").style.display = "none";
        }
    </script>

    </body>
</html>