<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    </head>

    <body>
    <!-- Hamburger Menü -->
    <button class="hamburger" onclick="menuOeffnen()">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <!-- Menü, das aufgeht -->
    <div class="nav-overlay" id="menu">

        <button class="close-btn" onclick="menuSchliessen()">
            ✕
        </button>

        <nav>
            <a href="/startseite">Startseite</a>
            <a href="/login">Login</a>
            <a href="/registrieren">Registrieren</a>
        </nav>

    </div>
        <h1>Bewerbung</h1>

        <p>
            Zum Absenden der Bewerbung benötigen Sie ein Benutzerkonto.
        </p>

        <a th:href="@{/registrieren}">Registrieren</a>
        <a th:href="@{/login}">Login</a>

        <form th:action="@{/bewerbung}" method="post" enctype="multipart/form-data"> <!-- Beim Klick auf Jetzt Bewerben werden die Daten an /bewerbung geschickt -->
            <label>
                Lebenslauf:
                <input type="file" name="lebenslauf">
            </label>

            <label>
                <input type="file" name="anschreiben">
            </label>

            <input type="text" name="vorname" placeholder="Vorname">
            <input type="text" name="nachname" placeholder="Nachname">
            <input type="text" name="email" placeholder="E-Mail">
            <input type="tel" name="telefon" placeholder="Telefon">

            <label>
                <input type="checkbox" name="datenschutzAkzeptiert">
                Ich stimme der Verarbeitung meiner Daten gemäß Datenschutzbestimmungen zu.
                <p>
                    Ihre Daten werden ausschließlich für den Bewerbungsprozess verwendet.
                </p>
            </label>

            <input type="hidden" name="stelleId" th:value="${stelleId}">

            <button type="submit">
                Jetzt Bewerben
            </button>
        </form>

        <script>
            function menuOeffnen() {
                document.getElementById("menu").style.display = "flex";
            }

            function menuSchliessen() {
                document.getElementById("menu").style.display = "none";
            }
        </script>
    </body>
</html>