<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    </head>

    <body>

    <!-- Hamburger Menü -->
    <button class="hamburger" onclick="menuOeffnen()">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <!-- Menü, das aufgeht -->
        <div class="nav-overlay" id="menu">

            <button class="close-btn" onclick="menuSchliessen()">
                ✕
            </button>

            <nav>
                <a href="/startseite">Startseite</a>
                <a href="/login">Login</a>
                <a href="/registrieren">Registrieren</a>
            </nav>

        </div>

        <div class="auth-wrapper">
            <form th:action="@{/registrieren}" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="E-Mail">
                <input type="password" name="passwort" placeholder="Passwort">
                <button type="submit">Registrieren</button>
            </form>
        </div>

    <script>
        function menuOeffnen() {
            document.getElementById("menu").style.display = "flex";
        }

        function menuSchliessen() {
            document.getElementById("menu").style.display = "none";
        }
    </script>
    </body>
</html>