<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <form th:action="@{/registrieren}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="E-Mail">
            <input type="password" name="passwort" placeholder="Passwort">
            <input type="text" name="rolle" placeholder="Rolle (BEWERBER, RECRUITER oder ADMIN)">
            <button type="submit">Registrieren</button>
        </form>
    </body>
</html>