<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <h1>Catchphrase</h1>
        <p>Längerer Spruch.</p>

        <!--offene Stellen-->
        <h2>Unsere offene Stellen</h2>

        <div th:each="stelle : ${stellen}">
            <h3 th:text="{stelle.titel}"></h3>

            <p>
                Standort:
                <span th:text="{stelle.standort}"></span>
            </p>

            <p>
                Art:
                <span th:text="${stelle.typ}"></span>
            </p>

            <a th:href="@{/stellen/{id}(id=${stelle.id})}">
                Mehr erfahren
            </a>

        </div>

        <!--Warum man dazugehört Teil -->
        <h2>Warum du zu unserem Team gehörst</h2>
        <div>
            <h3>Flexible Arbeitszeiten</h3>
            <p>Lorem ipsum</p>
        </div>
        <div>
            <h3>Remote-freundlich</h3>
            <p>Lorem ipsum</p>
        </div>
        <div>
            <h3>Modernes Team</h3>
            <p>Lorem ipsum</p>
        </div>
    </body>
</html>