<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <h1>Catchphrase</h1>
        <p>Längerer Spruch.</p>

        <!--Stellenliste-->
        <ul>
            <li th:each="stelle : ${stellen}" th:text="${stelle.titel}"></li>
        </ul>

        <!--Warum man dazugehört Teil -->
        <h2>Warum du zu unserem Team gehörst</h2>
        <div>
            <h3>Flexible Arbeitszeiten</h3>
            <p>Lorem ipsum</p>
        </div>
        <div>
            <h3>Remote-freundlich</h3>
            <p>Lorem ipsum</p>
        </div>
        <div>
            <h3>Modernes Team</h3>
            <p>Lorem ipsum</p>
        </div>
    </body>
</html>