<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    </head>

    <body>
    <h1>Alle Stellen</h1>
    <ul>
        <li th:each="stelle : ${stellen}">
            <a th:href="@{/stellen/{id}(id=${stelle.id})}"
               th:text="${stelle.titel}">
            </a>
        </li>
    </ul>
    </body>
</html>